{% extends 'base.html' %}

{% block content %}
    <h1>Update Blog Post</h1>
    <form action="{% url 'blog_post_update' blog_post.pk %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ blog_post.title }}">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" id="content" name="content" rows="3">{{ blog_post.content }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
{% endblock %}